IPMI_USERNAME=user
IPMI_PASSWORD=userpass
IPMI_DNS_ZONE=mgmt.name.com
MAAS_URL=https://maas.url
MAAS_API_KEY='123AB:CDEF:1234'
NETBOX_URL='https://netbox.url'
NETBOX_TOKEN='0123456789ABCDEF'
NETBOX_DEVICE_IDS=123,456
SITE=dc_name
